/**{
    border: 1px solid red;
}*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

#root, #__next {
  isolation: isolate;
}

/* TAGS HTML */

body{
  font-family: 'IBM Plex Sans', sans-serif;
  min-height: 100vh;
}

/* CLASSES */

  /*Header*/

  header {
    height: 80vh;
    display: grid;
    place-content: center;
  
     background-image: url(./images/svg\ illustrations/hero-img-bg-02.svg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;

    margin-bottom: 25px;
  }

  .hero-wrapper{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    max-width: 530px;
    max-height: 500px;
  }

  h1{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;

    margin: 0% 10%;
    margin-top: 10%;

    font-size: clamp(4.75vh, 5vw, 5.5vh);
  }

  .hero-text{
    text-align: center;
    font-size: smaller;

    margin: 5px 20% 10px;
    font-size: clamp(1.5vh, 2.35vw, 1vh);
  }

  .btn{
    font-weight: bold;
    --bs-btn-padding: .35rem;
    --bs-btn-font-size: .8rem;
  }

  .typing-animation {
    font-family: 'IBM Plex Mono', monospace;
    color: #3f73c2;
  }

  .typed-cursor {
    display: inline;
    color: #3f73c2;
  }


/*Main*/

main{
  min-width: 100vw;
}

.container {
  display: grid;
  place-content: center;

  min-width: 100%;
}

h2{
    font-weight: bolder;
    text-decoration: underline;
    text-transform: capitalize;

    text-align: center;
}

.tutorial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  border: 0;
  width: 25rem;
  padding: 3.5%;
}

h5 {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

.card-text {
  text-align:center;
}

.card-img-top{
  height: 100%;
}

