/**{
    border: 1px solid red;
}*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

#root, #__next {
  isolation: isolate;
}

/* TAGS HTML */

body{
  font-family: 'IBM Plex Sans', sans-serif;
  min-height: 100vh;
}

section{
  margin-bottom: 10px;
}

h2{
  font-weight: bolder;
  text-decoration: underline;
}

/* CLASSES */

  /*Header*/

  header {
    height: 80vh;
    display: grid;
    place-content: center;
  
     background-image: url(./images/svg\ illustrations/hero-img-bg-02.svg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  
  }

  .hero-wrapper{
    max-width: 530px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  h1{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    
    margin: 0 10%;
    margin-top: 10%;

    font-size: clamp(4.5vh, 5vw, 5.5vh);
  }

  p{
    text-align: center;
    font-size: smaller;

    margin: 10px 15% 10px;
    font-size: clamp(1.25vh, 1.5vw, 1.75vh);
  }

  .btn{
    font-weight: bold;
    --bs-btn-padding: .35rem;
    --bs-btn-font-size: .8rem;
  }

  .typing-animation{
    font-family: 'IBM Plex Mono', monospace;
    color: #5983C2;
  }

  /* @media (min-width: 440px){

    header {
      padding: 25vh 10vw 30vh;

    }

    h1 {
      font-size: 3rem;
    }

    p{
      font-size: .9rem;
      padding: 0 10% 0;
    }

    .btn{
      --bs-btn-padding: .35rem;
      --bs-btn-font-size: .8rem;
    }
  }

  @media (min-width: 594px){

    header {
      padding: 30vh 10vw 30vh;

    }

    h1 {
      font-size: 3rem;
    }

    p{
      font-size: .9rem;
      padding: 0 15% 0;
    }

    .btn{
      --bs-btn-padding: .35rem;
      --bs-btn-padding-x: 2.25rem;
      --bs-btn-font-size: .9rem;
    }
  }

  @media (min-width: 712px){

    header {
      padding: 30vh 10vw 30vh;

    }

    h1 {
      font-size: 3rem;
    }

    p{
      font-size: .9rem;
      padding: 0 15% 0;
    }

    .btn{
      --bs-btn-padding: .35rem;
      --bs-btn-padding-x: 2.25rem;
      --bs-btn-font-size: .9rem;
    }
  }
    @media (min-width: 729px){

      header {
        padding: 30vh 15vw 30vh;
  
      }
  
      h1 {
        font-size: 3rem;
        padding: 0 5% 0;
      }
  
      p{
        font-size: .9rem;
        padding: 0 15% 0;
      }
  
      .btn{
        --bs-btn-padding: .35rem;
        --bs-btn-padding-x: 2.25rem;
        --bs-btn-font-size: .9rem;
      }
  } */

  /*Main*/

.section-text {
  display: flex;
  justify-content: center;

  margin-bottom: 2rem;
}


.container .qa-container{
  display: grid;
  place-content: center;
  
}

.form-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-contato{
  max-height: 20vh;
}

.tutorial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 75vw;

  margin-bottom: 3rem;
}

.card{
  margin: auto;
  padding: 1.5rem;
  border:0;
}



.accordion-button{
  background-color: #5983C2;
  color: white;
}

